source "Kconfig.zephyr"

menu "Nordic Sta sample"

config CONNECTION_IDLE_TIMEOUT
	int "Time to be waited for a station to connect"
	default 30

config NRF70_QSPI_ENCRYPTION_KEY
	string "16 bytes QSPI encryption key, only for testing purposes"
	depends on BOARD_NRF7002DK_NRF5340_CPUAPP
	help
	  Specify the QSPI encryption key

config STA_CONN_TIMEOUT_SEC
	int "Overall Connection timeout i.e., time to be waited for a station to connect and get an IP address"
	# Zephyr DHCP retry is 1 minute, so set the default to 70 seconds
	default 70
	# 512 has no special meaning, just a reasonable upper limit
	range 0 512
	help
	  Specify the connection timeout, in seconds. This is the overall timeout i.e., time to be waited for
	  a station to connect and get an IP address. DHCP retries should be taken into account when setting
	  this value. If the timeout is set to 0, the connection will not timeout.

config STA_SAMPLE_START_WIFI_THREAD_STACK_SIZE
	int "Stack size for Wi-Fi start thread"
	default 4096
	help
	  Set the stack size for the Wi-Fi start thread.

config MQTT_BROKER_ADDR
	string "MQTT Broker IP Address"
	default "54.36.178.49"
	help
	  Specify the IP address of the MQTT broker to connect to.

config MQTT_BROKER_PORT
	int "MQTT Broker Port"
	default 1883
	help
	  Specify the port number of the MQTT broker.

config MQTT_CLIENT_ID
	string "MQTT Client ID"
	default "misogate_device_019a0cb4"
	help
	  Specify the unique client ID for this MQTT device.

config MQTT_PUB_TOPIC
	string "MQTT Publish Topic"
	default "test/pub"
	help
	  Specify the default topic for publishing messages.

config MQTT_SUB_TOPIC
	string "MQTT Subscribe Topic"
	default "test/sub"
	help
	  Specify the default topic for subscribing to messages.

config AWS_IOT_SAMPLE_APP_VERSION
	string "Application version"
	default "v1.0.0"

config AWS_IOT_SAMPLE_JSON_MESSAGE_SIZE_MAX
	int "Maximum size of JSON messages"
	default 200
	help
	  Maximum size of JSON messages that are sent to AWS IoT.

config AWS_IOT_SAMPLE_PUBLICATION_INTERVAL_SECONDS
	int "Interval in seconds that the sample will publish data"
	default 60

config AWS_IOT_SAMPLE_CONNECTION_RETRY_TIMEOUT_SECONDS
	int "Number of seconds between each AWS IoT connection retry"
	default 30

config AWS_IOT_SAMPLE_DEVICE_ID_USE_HW_ID
	bool "Use HW ID as device ID"
	select AWS_IOT_CLIENT_ID_APP
	depends on HW_ID_LIBRARY
	help
	  Use the devices's hardware ID as device ID when connecting to AWS IOT

endmenu
